* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


table {
    border: 1px solid #000;
    border-collapse: collapse;
    width: 80vw;
    margin: 0 auto;
    text-align: center;
    vertical-align: center;
}

tr:first-child {
    background-color: lightblue;
}

tr:nth-child(even) {
    background-color: rgb(221, 238, 243);
}

td {
    border: 1px solid #000;
    padding: 8px;
}

.grey {
    background-color: rgb(170, 170, 170);
    font-weight: bold;
}