*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1000px;
    margin: 0 auto;
}
header{
    width: 1000px;
    height: 70px;
    background-color: #050;
}
header h1{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2;
    color: white;
    font-size: 25pt;
    text-align: center;
}
section{
    width: 1000px;
    padding: 20px;
    background-color: #ccc;
    border: 1px solid #000;
}
section h2{
font-family: Arial, Helvetica, sans-serif;
    
    color: black;
    font-size: 18pt;
    
}
section p{
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    line-height: 1.5;
    color: black;
    column-count: 3;
    column-gap: 20px;
    column-rule: black 1px dashed;
}
.em{
    font-size: 1em;
}
@media(min-width:550px) and (max-width:800px){
    .container, header, section{
        width: 100%;
    }
    header{
        background-color: #500;
    }
    section p{
        column-count: 2;
    }
}
@media(min-width:250px) and (max-width:550px){
    .container, header, section{
        width: 100%;
    }
    header{
        background-color: #005;
    }
    section p{
        column-count: 1;
    }
}