.loginForm,
.form-styling {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.input-container label {
    font-size: 1.2rem;
}

.input-container input,
.submit-btn {
    padding: 5px;
}

.loginForm .submit-btn {
    background-color: lightseagreen;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    font-size: 1.2em;
    transition: all .5s;
}

.loginForm .submit-btn:hover {
    background-color: lightblue;
    color: black;
    cursor: pointer;
}

.error-display {
    color: rgb(252, 75, 75);
    animation: shake .5s 2;
}

@keyframes shake {
    0% {
        transform: translateX(-10px);
    }

    40% {
        transform: translateX(10px);
    }

    50% {
        transform: translateX(-10px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0px);
    }
}