* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    direction: rtl;
}

.container-register,
.container-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
}

.container-register {
    background-color: rgb(216, 220, 253);
}

.container-login {
    background-color: rgb(235, 235, 235);
}

.register-form {
    display: flex;
    flex-wrap: wrap;
}

.form-control {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 1em;
}

.m-2 {
    margin: 2em;
}

.m-1 {
    margin: 1em;
}

input {
    height: 30px;
    border-radius: 5px;
    border: 0;
    border-bottom: 3px solid silver;
}

table {
    border-collapse: collapse;
    width: 80%;
    text-align: center;
    margin: 2em;
}

tr {
    text-align: center;
    vertical-align: center;
}

th {
    background-color: rgb(221, 221, 221);
    padding: 8px;
}

.btn {
    border: 0;
    padding: 0 1em;
    border-radius: 5px;
    font-weight: 600;
    margin-top: auto;
}

.btn-primary {
    background-color: rgb(10, 10, 63);
    color: azure;
}

.btn-secondary {
    background-color: rgb(211, 20, 20);
    color: azure;
}

.btn-alert {
    background-color: rgb(47, 150, 7);
    color: azure;
}

.btn:hover {
    opacity: .7;
    cursor: pointer;
}

@media (max-width:500px) {

    .register-form {
        flex-direction: column;
    }

    .container-user-list {
        width: 100vw;
    }

    table {
        margin: 0;
        width: 100vw;
    }

    tr {
        font-size: .8rem;
    }
}

@media (max-width:400px) {
    tr {
        font-size: .6rem;
    }

    .btn {
        font-size: .6rem;
    }

}